.loyout {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}
.aside {
  background: var(--secondary-light);
  width: 20vw;
  padding: 1% 2%;
  height: 100vh;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.2rem;
}
.active {
  color: var(--surface) ;
}
.content{
  padding: 2%;
  width: 80vw;
  position: relative;
  overflow: hidden;
max-height: 100vh;
overflow-y: auto;
  background: var( --background);
}