.btnsList {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.container {

  padding: 2%;
min-height: 100%;
 
}

.link {
  background: var(--secondary-light);
  padding: 5px 10px;
  transition: all 0.5s;
  border: 1px solid var(--secondary-light);
  &:hover {
    background: var(--surface);
  }
}
.active {
  /* color: var(--surface); */
  background: var(--surface);
}
.content {
  background: var(--background);
  
}
